ErrorDocument 404 404.html

Options -Indexes

#deny all

<Files .htaccess>
    order allow,deny 
    deny from all
</Files>

<FilesMatch "\.(htaccess|htpasswd|ini|phps|log|bak|txt|js)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>



