ErrorDocument 404 404.html

Options -Indexes

#deny all

<Files ".ht*">
    Require all denied
</Files>

<FilesMatch "\.(htaccess|htpasswd|ini|phps|log|bak|txt|js)$">
 #Order Allow,Deny
 #Deny from all

 Require all denied

</FilesMatch>



