body{
	margin: 0;
}
.contenedor{
	width: 100%;
	height: 100vh;
	margin: auto;
	background-color: rgb(37, 26, 192);
	display: flex;
	flex-direction: column;
	overflow: auto;
}
label{
	width: 50%;
	margin-top: 15px;
	margin-left: 15px;
}
input{
	width: 50%;
	margin-left: 25px;
	margin-bottom: 8px;
	outline:2px solid #192f97;
	
}
#resul1,#resul2,#resul3,#resul4,#resul5,#resul6,#resul7,#resul8,#resul9,#resul10,#resul11{
	color:black;
	font-size: 15px;
}
.total{
	width: 50%;
	margin-left: 25px;
	margin-top: 15px;
}
#total{
	color: black;
	font-size: 25px;
}

@media screen and (min-width: 320px) and (max-width: 800px){
	.contenedor{
		background-color: rgba(93, 18, 179, 0.616);
	}
	label{
	height:50px;
        }
        input{
	width: 50%;
	height:40px;
	font-size:20px;
        }
	#resul1,#resul2,#resul3,#resul4,#resul5,#resul6,#resul7,#resul8,#resul9,#resul10,#resul11{
	height:40px;
	font-size:20px;
	}
}
