body{
	margin: 0;
}
.contenedor{
	width: 100%;
	height: 100vh;
	margin: auto;
	background-color: purple;
	display: flex;
	flex-direction: column;
}
label{
	width: 50%;
	margin-top: 15px;
	margin-left: 15px;
}
input{
	width: 50%;
	margin-left: 25px;
}
#resul1,#resul2,#resul3,#resul4,#resul5,#resul6,#total{
	color:black;
	font-size: 20px;
}
.total{
	width: 50%;
	margin-left: 25px;
	margin-top: 50px;
}