body{
	margin: 0;
}
.contenedor{
	width: 100%;
	height: 100vh;
	margin: auto;
	background-color: rgb(37, 26, 192);
	display: flex;
	flex-direction: column;
	overflow: auto;
}
.contenedor label{
	width: 50%;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 15px;
}
.contenedor input{
	width: 50%;
	margin-left: 25px;
	margin-bottom: 8px;
	outline:2px solid #192f97;
	
}
#resul1,#resul2,#resul3,#resul4,#resul5,#resul6,#resul7,#resul8,#resul9,#resul10,#resul11{
	color:black;
	font-size: 15px;
}
.contenedor .total{
	/*display:block;*/
	width: 50%;
	margin-left: 25px;
	margin-top: 15px;
}
#total{
	color: black;
	font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 425px){
	.contenedor{
		background-color: #8ba4ff;
	}
	.contenedor label{
		font-size:25px;
	}
	.contenedor input{
		width: calc(80%);
		height:40px;
		font-size:20px;
	}
	#resul1,#resul2,#resul3,#resul4,#resul5,#resul6,#resul7,#resul8,#resul9,#resul10,#resul11{
	height:40px;
	font-size:20px;
	}
	.contenedor .total{
		background-color: #d7e2ff;
		border-color: #1809f1;
		color: #1809f1;
		margin: auto;
		height:40px;
		font-size:22px;
	}
}


@media screen and (min-width: 426px) and (max-width: 768px){
	.contenedor{
		background-color: red;
	}
	.contenedor label{
		font-size:25px;
	}
	.contenedor input{
		width: calc(80%);
		margin: auto;
		margin-bottom: 10px;
		height:40px;
		font-size:20px;
	}
	#resul1,#resul2,#resul3,#resul4,#resul5,#resul6,#resul7,#resul8,#resul9,#resul10,#resul11{
		height:40px;
		font-size:20px;
	}
	.contenedor .total{
		margin: auto;
		height:40px;
		font-size:22px;
	}
}

